$theme-colors: (
    "primary": #521751
);

@import "node_modules/bootstrap/scss/bootstrap";

.card-header {
    background-color: rgba(0, 0, 0, 0.00);
  }

.wrapper-full-page {
    min-height: 100vh;
    height:auto; 
}
.full-page.section-image {
    position: static;
} 
.section-image {
    background-size: cover;
    background-position: 50%;
    position: relative;
    width: 100%;
}
.full-page>.content {
    padding-bottom: 150px;
    padding-top: 150px;
}

.full-page>.content, .full-page>.footer {
    position: relative;
    z-index: 4;
}