/*---------------------------
---------registration--------
---------------------------*/

.middle {
    text-align: center;
}

.welcome-margin {
    margin-bottom: 20px;
}

.margin-submit-small {
    margin-top: 50px;
    margin-bottom: 50px;
}


/*---------------------------
-----------aboutUs-----------
---------------------------*/

.margin-bottom-medium {
    margin-bottom: 200px;
}

.margin-bottom-small {
    margin-bottom: 100px;
}

.margin-bottom-xSmall {
    margin-bottom: 30px;
}

.margin-top-xSmall{
    margin-top: 30px;
}

.margin-top-small{
    margin-top: 100px;
}

.color-loaDay {
    color: rgb(189, 140, 204);
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    filter: invert(1);
}

.carousel-indicators {
    filter: invert(1);
}

.listaAboutUs:hover {
    color:  rgb(189, 140, 204);
}

.no-bullets {
    list-style-type: none;
}