<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div class="card deadline-section">
      <div class="card-body">
        <h5 class="card-title text-center text-grey">DEADLINES</h5>
        <div id="deadlines" class="flex-column">
          <div class="row justify-content-center">
            <div class="col-10 deadline flex-column justify-content-center">
              <div class="deadline-time text-center text-justify">5DD 23H 50M 32S</div>
              <div class="deadline-text text-center text-justify">Consegna progetto Basi2</div>
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="col-10 deadline flex-column justify-content-center">
              <div class="deadline-time text-center text-justify">536DD 23H 50M 32S</div>
              <div class="deadline-text text-center text-justify">Application per qualcosa</div>
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="col-10 deadline flex-column justify-content-center">
              <!--the selected deadline date has to be less than 1 billion days away-->
              <div class="deadline-time text-center text-justify">999999999DD 23H 59M 59S</div>
              <div class="deadline-text text-center text-justify">Altro progetto</div>
            </div>
          </div>
        </div>
      </div>
    
    </div>
  </body>
</html>